doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/javascripts/vendor/createjs-2013.09.25.min.js')
    script(src='/javascripts/vendor/underscore-min.js')
    script(src='/javascripts/vendor/jquery-2.0.3.min.js')
    script(src='/javascripts/app.js')