extends layout

block content
	form(action='/api/users/user/add_credits', method='POST')
		.row
			label(for='credits') Credits:
			input#credits(type='number', name='credits', value=100)
		.row
			button(type='submit') Add

	br
	form(action='/api/users/' + user.id + '/spin', method='POST')
		.row
			label(for='lines') Lines:
			input#lines(type='number', name='lines', value=30)
		.row
			label(for='bet') Bet:
			input#lines(type='number', name='bet', value=1)
		.row
			button(type='submit') Spin

