body {
	font: 12px Helvetica, Arial, sans-serif;
	margin: 0;
	text-align: center;
}

canvas {
	display: inline-block;
}

a {
  color: #999;
  text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	text-align: center;
}

form {
	display: inline-block;
	width: 280px;
	margin: 20px;
	border: 2px solid #000;
	box-size: border-box;
	padding: 20px;
	vertical-align: top;
}

form .row {
	margin-bottom: 1em;
	text-align: right;
}

form .row:last-of-type {
	margin-bottom: 0;
}

form label {
	display: inline-block;
	margin-right: 1em;
	font-weight: bold;
}

form input {
	border: 2px solid #000;
	line-height: 2em;
	width: 200px;
}

form button {
	background: #fff;
	border: 2px solid #000;
	line-height: 2em;
	font-weight: bold;
}