extends layout

block content
	if user !== null
		canvas
		br
		p
			span
				a(href='/logout') Log out
			span
				a#request-credits Get more credits
		script(src='/javascripts/vendor.js')
		script.
			"use strict"

			window.Slots = window.Slots || {};

			(function(Slots, undefined){
				window.Slots.config = window.Slots.config || {};
				window.Slots.config.user = {id: '#{user.id}'};
			})(window.Slots);

		script(src='/javascripts/app.min.js')
	else
		h1
			a(href='/login') Log in
			|	or 
			a(href='/signup') sign up
			|.